apis/fueleconomy/raml_0.8/schemas/menu-year-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="menuItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="menuItem" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="text" type="xs:int"></xs:element>
							<xs:element name="value" type="xs:int"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>