apis/geonames/raml_0.8/schemas/astergdem-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="geonames">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="astergdem"/>
        <xs:element type="xs:float" name="lat"/>
        <xs:element type="xs:float" name="lng"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>