apis/geonames/raml_0.8/schemas/srtm-xml-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="geonames">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="srtm3" minOccurs="0" maxOccurs="1" type="xsd:int"/>
        <xsd:element name="lat" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
        <xsd:element name="lng" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
