apis/openstack/raml_0.8/schemas/createFloatingBulkIPsResXML-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="floating_ips_bulk_create">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="interface" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
        <xsd:element name="ip_range" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
        <xsd:element name="pool" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
