apis/openstack/raml_0.8/schemas/createOrUpdateDNSDomainReqXML-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="domain_entry">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="domain" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
        <xsd:element name="scope" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
        <xsd:element name="project" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
