apis/openstack/raml_0.8/schemas/listResource-schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="values">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="value" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="links" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="item" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="href" minOccurs="0" maxOccurs="1" type="xsd:anyURI"/>
                          <xsd:element name="rel" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="metadata" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="item" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="key" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="value" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="project_id" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="resource_id" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="source" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="timestamp" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="user_id" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
