apis/openstack/raml_0.8/schemas/portCreateOrUpdateReq-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="port">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
        <xsd:element name="network_id" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
