apis/openstack/raml_0.8/schemas/qosCreateRequest-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="qos_specs">
    <xsd:complexType>
      <xsd:sequence/>
      <xsd:attribute name="name" type="xsd:normalizedString" use="required"/>
      <xsd:attribute name="delay" type="xsd:int" use="required"/>
      <xsd:attribute name="throughput" type="xsd:int" use="required"/>
    </xsd:complexType>
    <xsd:attribute name="name" type="xsd:normalizedString" use="required"/>
    <xsd:attribute name="delay" type="xsd:int" use="required"/>
    <xsd:attribute name="throughput" type="xsd:int" use="required"/>
  </xsd:element>
</xsd:schema>
