apis/openstack/raml_0.8/schemas/snapshotUpdateRequest-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://docs.openstack.org/openstack-block-storage/2.0/content">
  <xsd:element name="snapshot">
    <xsd:complexType>
      <xsd:sequence/>
      <xsd:attribute name="name" type="xsd:normalizedString" use="required"/>
      <xsd:attribute name="description" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:attribute name="name" type="xsd:normalizedString" use="required"/>
    <xsd:attribute name="description" type="xsd:string" use="required"/>
  </xsd:element>
</xsd:schema>
