apis/openstack/raml_0.8/schemas/updateQuotaReqXML-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="quota_set">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="security_groups" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:normalizedString" use="required"/>
    </xsd:complexType>
    <xsd:attribute name="id" type="xsd:normalizedString" use="required"/>
  </xsd:element>
</xsd:schema>
