apis/amazons3/raml_0.8/schemas/bucket-versioning.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--Type definition-->
  <xs:simpleType name="mfadelete">
    <xs:restriction base="xs:string">
    <xs:enumeration value="Disabled" />
    <xs:enumeration value="Enabled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="status">
    <xs:restriction base="xs:string">
    <xs:enumeration value="Suspended" />
    <xs:enumeration value="Enabled" />
    </xs:restriction>
  </xs:simpleType>
<!-- Element definition -->  
  <xs:element name="VersioningConfiguration">  
    <xs:complexType>
      <xs:sequence>
        <xs:element type="status" name="Status"/>
        <xs:sequence minOccurs="0">
        	<xs:element type="mfadelete" name="MfaDelete"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>