apis/amazons3/raml_0.8/schemas/bucket-object-versions.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://s3.amazonaws.com/doc/2006-03-01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListVersionsResult">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:string" name="Prefix"/>
        <xs:element type="xs:string" name="KeyMarker"/>
        <xs:element type="xs:string" name="VersionIdMarker"/>
        <xs:element type="xs:byte" name="MaxKeys"/>
        <xs:element type="xs:string" name="IsTruncated"/>
        <xs:element name="Version">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Key"/>
              <xs:element type="xs:string" name="VersionId"/>
              <xs:element type="xs:string" name="IsLatest"/>
              <xs:element type="xs:dateTime" name="LastModified"/>
              <xs:element type="xs:string" name="ETag"/>
              <xs:element type="xs:int" name="Size"/>
              <xs:element type="xs:string" name="StorageClass"/>
              <xs:element name="Owner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ID"/>
                    <xs:element type="xs:string" name="DisplayName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DeleteMarker">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Key"/>
              <xs:element type="xs:string" name="VersionId"/>
              <xs:element type="xs:string" name="IsLatest"/>
              <xs:element type="xs:dateTime" name="LastModified"/>
              <xs:element type="xs:string" name="ETag" minOccurs="0"/>
              <xs:element type="xs:int" name="Size" minOccurs="0"/>
              <xs:element type="xs:string" name="StorageClass" minOccurs="0"/>
              <xs:element name="Owner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ID"/>
                    <xs:element type="xs:string" name="DisplayName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>