apis/amazons3/raml_0.8/schemas/bucket-conf-tagging.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tagging">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TagSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Tag" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Key"/>
                    <xs:element type="xs:string" name="Value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>