apis/amazons3/raml_0.8/schemas/bucket.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--Type definition-->
  <xs:simpleType name="location">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EU" />
      <xs:enumeration value="eu-west-1" />
      <xs:enumeration value="us-west-2" />
      <xs:enumeration value="ap-southeast-1" />
      <xs:enumeration value="ap-southeast-2" />
      <xs:enumeration value="ap-northeast-1" />
      <xs:enumeration value="sa-east-1" />
      <xs:enumeration value="" />
    </xs:restriction>
  </xs:simpleType>
<!-- Element definition -->    
  <xs:element name="CreateBucketConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="location" name="LocationConstraint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>