apis/amazons3/raml_0.8/schemas/buckets-list.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://doc.s3.amazonaws.com/2006-03-01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListAllMyBucketsResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Owner">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:string" name="DisplayName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Buckets">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bucket" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:dateTime" name="CreationDate"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>