apis/amazons3/raml_0.8/schemas/bucket-lifecycle-put.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LifecycleConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:string" name="Prefix"/>
              <xs:element type="xs:string" name="Status"/>
              <xs:element name="Transition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="Days"/>
                    <xs:element type="xs:string" name="StorageClass"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>