apis/twilio/raml_0.8/schemas/calls-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Calls">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Call">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Sid"/>
                    <xs:element type="xs:string" name="DateCreated"/>
                    <xs:element type="xs:string" name="DateUpdated"/>
                    <xs:element type="xs:string" name="ParentCallSid"/>
                    <xs:element type="xs:string" name="AccountSid"/>
                    <xs:element type="xs:long" name="To"/>
                    <xs:element type="xs:string" name="ToFormatted"/>
                    <xs:element type="xs:long" name="From"/>
                    <xs:element type="xs:string" name="FromFormatted"/>
                    <xs:element type="xs:string" name="PhoneNumberSid"/>
                    <xs:element type="xs:string" name="Status"/>
                    <xs:element type="xs:string" name="StartTime"/>
                    <xs:element type="xs:string" name="EndTime"/>
                    <xs:element type="xs:byte" name="Duration"/>
                    <xs:element type="xs:float" name="Price"/>
                    <xs:element type="xs:string" name="Direction"/>
                    <xs:element type="xs:string" name="AnsweredBy"/>
                    <xs:element type="xs:date" name="ApiVersion"/>
                    <xs:element type="xs:string" name="ForwardedFrom"/>
                    <xs:element type="xs:string" name="CallerName"/>
                    <xs:element type="xs:string" name="Uri"/>
                    <xs:element name="SubresourceUris">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Notifications"/>
                          <xs:element type="xs:string" name="Recordings"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="page"/>
            <xs:attribute type="xs:short" name="numpages"/>
            <xs:attribute type="xs:byte" name="pagesize"/>
            <xs:attribute type="xs:short" name="total"/>
            <xs:attribute type="xs:byte" name="start"/>
            <xs:attribute type="xs:byte" name="end"/>
            <xs:attribute type="xs:string" name="uri"/>
            <xs:attribute type="xs:string" name="firstpageuri"/>
            <xs:attribute type="xs:string" name="previouspageuri"/>
            <xs:attribute type="xs:string" name="nextpageuri"/>
            <xs:attribute type="xs:string" name="lastpageuri"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>