apis/twilio/raml_0.8/schemas/connectApp-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConnectApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Sid"/>
        <xs:element type="xs:string" name="AccountSid"/>
        <xs:element type="xs:string" name="FriendlyName"/>
        <xs:element type="xs:string" name="Description"/>
        <xs:element type="xs:string" name="CompanyName"/>
        <xs:element type="xs:anyURI" name="HomepageUrl"/>
        <xs:element type="xs:string" name="AuthorizeRedirectUrl"/>
        <xs:element type="xs:string" name="DeauthorizeCallbackUrl"/>
        <xs:element type="xs:string" name="DeauthorizeCallbackMethod"/>
        <xs:element name="Permissions">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Permission" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>