apis/twilio/raml_0.8/schemas/credentialListMappings-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CredentialListMappings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CredentialListMapping">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Sid"/>
                    <xs:element type="xs:string" name="AccountSid"/>
                    <xs:element type="xs:string" name="FriendlyName"/>
                    <xs:element type="xs:string" name="DateCreated"/>
                    <xs:element type="xs:string" name="DateUpdated"/>
                    <xs:element type="xs:string" name="Uri"/>
                    <xs:element name="SubresourceUris">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Credentials"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="end" type="xs:int" use="required"/>
            <xs:attribute name="firstpageuri" type="xs:string" use="required"/>
            <xs:attribute name="nextpageuri" type="xs:string" use="required"/>
            <xs:attribute name="page" type="xs:int" use="required"/>
            <xs:attribute name="pagesize" type="xs:int" use="required"/>
            <xs:attribute name="previouspageuri" type="xs:string" use="required"/>
            <xs:attribute name="start" type="xs:int" use="required"/>
            <xs:attribute name="uri" type="xs:string" use="required"/>
            <xs:attribute name="lastpageuri" type="xs:string" use="required"/>
            <xs:attribute name="numpages" type="xs:int" use="required"/>
            <xs:attribute name="total" type="xs:int" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>