apis/twilio/raml_0.8/schemas/member-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QueueMember">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CallSid"/>
              <xs:element type="xs:string" name="DateEnqueued"/>
              <xs:element type="xs:byte" name="WaitTime"/>
              <xs:element type="xs:byte" name="Position"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>