apis/twilio/raml_0.8/schemas/message-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Sid"/>
              <xs:element type="xs:string" name="DateCreated"/>
              <xs:element type="xs:string" name="DateUpdated"/>
              <xs:element type="xs:string" name="DateSent"/>
              <xs:element type="xs:string" name="AccountSid"/>
              <xs:element type="xs:long" name="To"/>
              <xs:element type="xs:long" name="From"/>
              <xs:element type="xs:string" name="Body"/>
              <xs:element type="xs:byte" name="NumSegments"/>
              <xs:element type="xs:byte" name="NumMedia"/>
              <xs:element type="xs:string" name="Status"/>
              <xs:element type="xs:string" name="Direction"/>
              <xs:element type="xs:date" name="ApiVersion"/>
              <xs:element type="xs:float" name="Price"/>
              <xs:element type="xs:string" name="Uri"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>