apis/twilio/raml_0.8/schemas/phoneLocalNumbers-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AvailablePhoneNumbers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AvailablePhoneNumber" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="FriendlyName"/>
                    <xs:element type="xs:long" name="PhoneNumber"/>
                    <xs:element type="xs:short" name="Lata"/>
                    <xs:element type="xs:string" name="RateCenter"/>
                    <xs:element type="xs:float" name="Latitude"/>
                    <xs:element type="xs:float" name="Longitude"/>
                    <xs:element type="xs:string" name="Region"/>
                    <xs:element type="xs:int" name="PostalCode"/>
                    <xs:element type="xs:string" name="IsoCountry"/>
                    <xs:element name="Capabilities">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Voice"/>
                          <xs:element type="xs:string" name="SMS"/>
                          <xs:element type="xs:string" name="MMS"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="uri"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>