apis/twilio/raml_0.8/schemas/recording-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Recording">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Sid"/>
              <xs:element type="xs:string" name="AccountSid"/>
              <xs:element type="xs:string" name="CallSid"/>
              <xs:element type="xs:byte" name="Duration"/>
              <xs:element type="xs:string" name="DateCreated"/>
              <xs:element type="xs:date" name="ApiVersion"/>
              <xs:element type="xs:string" name="DateUpdated"/>
              <xs:element type="xs:string" name="Uri"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>