apis/twilio/raml_0.8/schemas/shortCode-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ShortCode">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Sid"/>
              <xs:element type="xs:string" name="AccountSid"/>
              <xs:element type="xs:int" name="FriendlyName"/>
              <xs:element type="xs:int" name="ShortCode"/>
              <xs:element type="xs:string" name="DateCreated"/>
              <xs:element type="xs:string" name="DateUpdated"/>
              <xs:element type="xs:anyURI" name="SmsUrl"/>
              <xs:element type="xs:string" name="SmsMethod"/>
              <xs:element type="xs:anyURI" name="SmsFallbackUrl"/>
              <xs:element type="xs:string" name="SmsFallbackMethod"/>
              <xs:element type="xs:string" name="Uri"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>