apis/flightstats/raml_0.8/schemas/delayindexResourcesXMLResponse-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ApiDocumentation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="apiVersion" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
        <xsd:element name="basePath" minOccurs="0" maxOccurs="1" type="xsd:anyURI"/>
        <xsd:element name="swaggerVersion" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
