apis/flightstats/raml_0.8/schemas/flightMonitoringXMLResponse-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="rule" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="id" minOccurs="0" maxOccurs="1" type="xsd:int"/>
              <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="carrierFsCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="flightNumber" minOccurs="0" maxOccurs="1" type="xsd:int"/>
              <xsd:element name="departureAirportFsCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="arrivalAirportFsCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="departure" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="arrival" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
              <xsd:element name="ruleEvents" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ruleEvent" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="type" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="nameValues" minOccurs="0" maxOccurs="1" type="xsd:string"/>
              <xsd:element name="delivery" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="format" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                    <xsd:element name="destination" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="appendix" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="airlines" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="airline" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="fs" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="iata" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="icao" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                          <xsd:element name="phoneNumber" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="active" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="airports" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="airport" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="fs" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="iata" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="icao" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="faa" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                          <xsd:element name="street1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                          <xsd:element name="city" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="cityCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="stateCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="postalCode" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                          <xsd:element name="countryCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="countryName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                          <xsd:element name="regionName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                          <xsd:element name="timeZoneRegionName" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="weatherZone" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="localTime" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                          <xsd:element name="utcOffsetHours" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                          <xsd:element name="latitude" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                          <xsd:element name="longitude" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
                          <xsd:element name="elevationFeet" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                          <xsd:element name="classification" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                          <xsd:element name="active" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="alertCapabilities" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="baggage" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
              <xsd:element name="departureGateChange" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
              <xsd:element name="arrivalGateChange" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
              <xsd:element name="gateDeparture" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
              <xsd:element name="gateArrival" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
              <xsd:element name="runwayDeparture" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
              <xsd:element name="runwayArrival" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="request" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="url" minOccurs="0" maxOccurs="1" type="xsd:anyURI"/>
              <xsd:element name="airlineCode" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="requestedCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                    <xsd:element name="fsCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="flightNumber" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="requested" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                    <xsd:element name="interpreted" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="date" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="year" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                    <xsd:element name="month" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                    <xsd:element name="day" minOccurs="0" maxOccurs="1" type="xsd:int"/>
                    <xsd:element name="interpreted" minOccurs="0" maxOccurs="1" type="xsd:date"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="name" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="interpreted" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
              <xsd:element name="type" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="requested" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                    <xsd:element name="interpreted" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="deliverTo" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="requested" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                    <xsd:element name="interpreted" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="events" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="event" minOccurs="0" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="interpreted" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="nameValues" minOccurs="0" maxOccurs="1" type="xsd:string"/>
              <xsd:element name="codeType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
              <xsd:element name="extendedOptions" minOccurs="0" maxOccurs="1" type="xsd:string"/>
              <xsd:element name="departureAirport" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="requestedCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                    <xsd:element name="fsCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="arrivalAirport" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="requestedCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                    <xsd:element name="fsCode" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
