apis/magento/raml_0.8/schemas/imagesPost-xml-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="magento_api">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="file_mime_type" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
        <xsd:element name="file_content" minOccurs="0" maxOccurs="1" type="xsd:normalizedString"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
