apis/azuretablestorage/raml_0.8/schemas/tableServices-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StorageServiceProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Logging">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Version"/>
              <xs:element type="xs:string" name="Delete"/>
              <xs:element type="xs:string" name="Read"/>
              <xs:element type="xs:string" name="Write"/>
              <xs:element name="RetentionPolicy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Enabled"/>
                    <xs:element type="xs:string" name="Days"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HourMetrics">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Version"/>
              <xs:element type="xs:string" name="Enabled"/>
              <xs:element type="xs:string" name="IncludeAPIs"/>
              <xs:element name="RetentionPolicy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Enabled"/>
                    <xs:element type="xs:string" name="Days"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MinuteMetrics">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Version"/>
              <xs:element type="xs:string" name="Enabled"/>
              <xs:element type="xs:string" name="IncludeAPIs"/>
              <xs:element name="RetentionPolicy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Enabled"/>
                    <xs:element type="xs:string" name="Days"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Cors">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CorsRule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="AllowedOrigins"/>
                    <xs:element type="xs:string" name="AllowedMethods"/>
                    <xs:element type="xs:string" name="MaxAgeInSeconds"/>
                    <xs:element type="xs:string" name="ExposedHeaders"/>
                    <xs:element type="xs:string" name="AllowedHeaders"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>