apis/azuretablestorage/raml_0.8/schemas/tableAclGet-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SignedIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SignedIdentifier">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Id"/>
              <xs:element name="AccessPolicy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="Start"/>
                    <xs:element type="xs:dateTime" name="Expiry"/>
                    <xs:element type="xs:string" name="Permission"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>