apis/zillow/raml_0.8/schemas/DiscountPoints-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="amount"/>
        <xs:element type="xs:short" name="terminmonths"/>
        <xs:element type="xs:float" name="rate"/>
        <xs:element type="xs:float" name="points"/>
        <xs:element type="xs:float" name="rate2"/>
        <xs:element type="xs:float" name="points2"/>
        <xs:element type="xs:string" name="output"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="text"/>
        <xs:element type="xs:byte" name="code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="monthlyprincipalandinterest"/>
        <xs:element type="xs:short" name="monthlyprincipalandinterest2"/>
        <xs:element type="xs:short" name="costofpoints"/>
        <xs:element type="xs:short" name="costofpoints2"/>
        <xs:element type="xs:short" name="monthlysavings"/>
        <xs:element type="xs:string" name="result"/>
        <xs:element type="xs:byte" name="breakeven"/>
        <xs:element type="xs:int" name="totalsavings"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>