apis/zillow/raml_0.8/schemas/MortgageTerms-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="amount"/>
        <xs:element type="xs:float" name="rate"/>
        <xs:element type="xs:float" name="rate2"/>
        <xs:element type="xs:float" name="rate3"/>
        <xs:element type="xs:short" name="terminmonths"/>
        <xs:element type="xs:short" name="terminmonths2"/>
        <xs:element type="xs:short" name="terminmonths3"/>
        <xs:element type="xs:float" name="costofmoney"/>
        <xs:element type="xs:float" name="taxbracket"/>
        <xs:element type="xs:byte" name="comparisonyears"/>
        <xs:element type="xs:string" name="output"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="text"/>
        <xs:element type="xs:byte" name="code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="monthlyprincipalandinterest"/>
        <xs:element type="xs:int" name="monthlyprincipalandinterest2"/>
        <xs:element type="xs:int" name="monthlyprincipalandinterest3"/>
        <xs:element type="xs:int" name="discountedcost"/>
        <xs:element type="xs:int" name="discountedcost2"/>
        <xs:element type="xs:int" name="discountedcost3"/>
        <xs:element type="xs:int" name="remainingprincipal"/>
        <xs:element type="xs:int" name="remainingprincipal2"/>
        <xs:element type="xs:int" name="remainingprincipal3"/>
        <xs:element type="xs:int" name="taxsavings"/>
        <xs:element type="xs:int" name="taxsavings2"/>
        <xs:element type="xs:int" name="taxsavings3"/>
        <xs:element type="xs:int" name="totalcost"/>
        <xs:element type="xs:int" name="totalcost2"/>
        <xs:element type="xs:int" name="totalcost3"/>
        <xs:element type="xs:string" name="result"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>