apis/zillow/raml_0.8/schemas/RateSummary-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="request" type="xs:string"/>
   <xs:element name="message">
     <xs:complexType>
       <xs:sequence>
         <xs:element type="xs:string" name="text"/>
         <xs:element type="xs:byte" name="code"/>
       </xs:sequence>
     </xs:complexType>
   </xs:element>
   <xs:element name="response">
     <xs:complexType>
       <xs:sequence>
         <xs:element name="today">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="rate" maxOccurs="unbounded" minOccurs="0">
                 <xs:complexType>
                   <xs:simpleContent>
                     <xs:extension base="xs:float">
                       <xs:attribute type="xs:string" name="loanType" use="optional"/>
                       <xs:attribute type="xs:short" name="count" use="optional"/>
                     </xs:extension>
                   </xs:simpleContent>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
           </xs:complexType>
         </xs:element>
         <xs:element name="lastWeek">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="rate" maxOccurs="unbounded" minOccurs="0">
                 <xs:complexType>
                   <xs:simpleContent>
                     <xs:extension base="xs:float">
                       <xs:attribute type="xs:string" name="loanType" use="optional"/>
                       <xs:attribute type="xs:short" name="count" use="optional"/>
                     </xs:extension>
                   </xs:simpleContent>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
           </xs:complexType>
         </xs:element>
       </xs:sequence>
     </xs:complexType>
   </xs:element>
 </xs:schema>              
