apis/zillow/raml_0.8/schemas/Refinance-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="currentamount"/>
        <xs:element type="xs:float" name="currentrate"/>
        <xs:element type="xs:short" name="originationyear"/>
        <xs:element type="xs:byte" name="currentterminmonths"/>
        <xs:element type="xs:int" name="newamount"/>
        <xs:element type="xs:float" name="newrate"/>
        <xs:element type="xs:byte" name="newterminmonths"/>
        <xs:element type="xs:short" name="fees"/>
        <xs:element type="xs:string" name="rollfees"/>
        <xs:element type="xs:short" name="cashout"/>
        <xs:element type="xs:string" name="schedule"/>
        <xs:element type="xs:string" name="output"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="text"/>
        <xs:element type="xs:byte" name="code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="totalmonthlysavings"/>
        <xs:element type="xs:short" name="currentmonthlypayment"/>
        <xs:element type="xs:short" name="newmonthlypayment"/>
        <xs:element type="xs:byte" name="breakeven"/>
        <xs:element type="xs:int" name="lifetimesavings"/>
        <xs:element name="savingsschedule">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="savings" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="period"/>
                    <xs:element type="xs:short" name="monthlysavings"/>
                    <xs:element type="xs:int" name="cumulativesavings"/>
                    <xs:element type="xs:int" name="endingbalance"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="frequency"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>