apis/xero/raml_0.8/schemas/currenciesCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Currencies">
  <xs:complexType>
    <xs:sequence>
    <xs:element maxOccurs="unbounded" ref="Currency"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="Currency">
  <xs:complexType>
    <xs:sequence>
    <xs:element ref="Code"/>
    <xs:element ref="Description"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="Code" type="xs:NCName"/>
  <xs:element name="Description" type="xs:string"/>
</xs:schema>
