apis/xero/raml_0.8/schemas/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Employees">
  <xs:complexType>
    <xs:sequence>
    <xs:element maxOccurs="unbounded" ref="Employee"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="Employee">
  <xs:complexType>
    <xs:sequence>
    <xs:element ref="FirstName"/>
    <xs:element ref="LastName"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="FirstName" type="xs:NCName"/>
  <xs:element name="LastName" type="xs:NCName"/>
</xs:schema>
